@using Newtonsoft.Json.Linq
@model TrashCollector.Models.Address
@{
    ViewBag.Title = "PickUp";
}

<h2>PickUp</h2>

<script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=c55cd61f08514ba52d0b28d793953517c0185723'></script>
<script type='text/javascript'>
    function init_map() {
        var address = $("#address").val();
        var geocoder = new google.maps.Geocoder();
        var latitude = 52.3800447; //Set default value in case address is null.
        var longitude = 9.728811599999972; //Set default value in case address is null.
        geocoder.geocode({ 'address': ViewBag.address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                // do something with the geocoded result
                latitude = results[0].geometry.location.lat();
                longitude = results[0].geometry.location.lng();
                var myOptions =
                    {
                        zoom: 12,
                        center: new google.maps.LatLng(latitude, longitude), mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
                marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(latitude, longitude) });

